$primaryColor:  #FFC13B; //rgb(255,193,59)
$secondaryColor: #1D3C45; //rgb(29,60,69)
$accentColor: #FFF8E6; 
$lightText: #EEE;
$fontWeight: (
    "lighter": 200,
    "light": 300,
    "normal": 400,
    "bold": 500
)